<html lang="zh">
<header>
    <meta charset="UTF-8"/>
</header>
<body>
now running connect: <%= monitorCenter.connectCount %>
<br/>
now rule: <%= rule %>
<br/>
<% if(!haveUsableServer){ %>
    <h3 style="color: red">Warning: we don't have Usable Server !!! </h3>
    <br/>
<% } %>
---------------------------------------------------------------------------------------------
<br/>
<% upstreamPool.forEach(function(u, i){ %>
    <%= i + 1 %>. <%= u.host %>:<%= u.port %>
    online: <% if(!u.isOffline){ %>
        <span style="color: green">True</span>
    <% } else { %>
        <span style="color: red">False</span>
    <% } %>
    connectable: <% if(!u.lastConnectFailed){ %>
        <span style="color: green">True</span>
    <% } else { %>
        <span style="color: red">False</span>
    <% } %> |
    running: <%= u.connectCount %> |
    lastTCPCheckTime: <%= formatTime(u.lastOnlineTime) %>
    lastConnectCheckTime: <%= formatTime(u.lastConnectTime) %> |
    <% if(u.isManualDisable){ %>
        <span style="color: red">Disabled</span>
        <a href="/op?enable=<%= i %>">Enable It</a>
    <% } else { %>
        <span style="color: green">Enabled</span>
        <a href="/op?disable=<%= i %>">Disable It</a>
    <% } %>
    <br/>
<% }); %>
---------------------------------------------------------------------------------------------
<br/>
lastConnectServer:
<% if(monitorCenter.lastConnectServer){ %>
    <%= monitorCenter.lastConnectServer.host + ':' + monitorCenter.lastConnectServer.port %>
<% } else { %>
    Undefined
<% } %>
<br/>
<br/>
now time: <%= nowTime %>
<br/>
runTime: <%= runTimeString %>
<br/>
---------------------------------------------------------------------------------------------
<br/>
<pre>
<%- JSON.stringify(upstreamPool, null, 2) %>
</pre>
</body>
</html>
